/* Estilos reutilizaveis / genéricos*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.background-blue {
    background-color: #000D1A;
}

.cor-laranja {
    color: var(--PrimeiraCor);
}

.margem-negativa {
    margin-left: -1%;
}


.largura-maxima {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
}

.txt-animado {
    color: #D98F4E;
}

.txt-animado span {
    position: relative;

}

.txt-animado span::before {
    content: "";
    color: white;
    animation: palavras 30s infinite;

}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 80px;
    border-bottom: 8px solid #e78229;
    right: -20px;
    animation: cursor .7s infinite, digita 30s steps(15) infinite;
    width: calc(100% + 25px);




}



a {
    text-decoration: none;

}

body::-webkit-scrollbar {
    width: 25px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: none;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #000D1A;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 4px solid var(--PrimeiraCor);
    /* creates padding around scroll thumb */
}

:root {
    --PrimeiraCor: #D98F4E;
    --SegundaCor: #021F59;
    --TerceiraCor: #07192F;
    --QuartaCor: #091B2F;
    --QuintaCor: #010326;
    --tamanhoFontePequena: ;
    --tamanhoFonteMedia: ;
    --tamanhoFonteGrande: 60px;
    ;
}


.background section {
    max-width: 1200px;
}

section .flex {
    display: flex;
}

/* Estilos especificos */

/* Seção de body*/
body {
    background-color: #D3DADB;
    font-size: 40px;
    font-family: "Concert One", sans-serif;
    color: #e78229;
    width: 100%;
    height: 100%;


}

body .background {
    min-height: 100vh;
    height: 110vh;
    font-weight: 800;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(imgs/bhv6vu7oyl8a1.png);
}

/* Seção de header */

#header {
    position: fixed;
    width: 100vw;
    transition: 0.8s;
}

.rolagem-header {
    background-color: #0C1D31;
    padding: 20px 75px;
    z-index: 5;
}


header .container-header {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


header .logo {
    max-width: 200px;
}

header .logo h2 {
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 40px black;


}

header .logo h2 :hover {
    font-size: 72px;
    color: #e78229;
    cursor: pointer;
}


header .logo h2 p {
    font-size: 70px;
    line-height: 35px;
    padding-left: 20px;
    color: var(--PrimeiraCor);
}

header nav ul li {
    display: inline-block;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding-right: 20px;

}

header nav ul li :hover {
    color: #D98F4E;
}

.wrapperInicio {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.wrapper-btn-inicial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;

}

.btn-contato button {
    background-color: var(--PrimeiraCor);
    color: white;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 40px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Concert One", sans-serif;

}

.btn-contato button:hover {
    background-color: #e7720c;
    box-shadow: 0px 0px 10px orangered;
}

.btn-Download-CV button {
    color: white;
    border: 0.2rem solid #e7720c;
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #000d1a26;
}

.btn-Download-CV button:hover {
    background-image: none;
    background-color: var(--PrimeiraCor);
    color: white;

}

/* Seção de inicio */
.wrapper-tela-inicial {
    position: relative;
    top: 250px;
    margin: 20PX 0PX 0px 0px;
    padding: 0px 0px 50px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 300px;
}

.wrapper-tela-inicial h1 {
    font-size: 60px;
    text-align: left;
    align-items: flex-start;
    max-width: 880px;
}

.wrapper-tela-inicial p {
    padding: 40px 0px 5px;
    font-size: 30px;
    text-align: left;
    margin-bottom: 60px;
    max-width: 750px;
    width: 100%;
}


/* Seção de sobre */
#sobre {

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;


}

#sobre h2 {
    text-align: center;
}

.wrapper-sobre-principal {

    display: flex;
    gap: 3%;
    align-items: center;

}

.wrapper-sobre-principal-texto {

    align-items: flex-start;
    justify-content: right;


}

.wrapper-sobre-principal-texto h1 {
    color: #07192F;

}

.wrapper-sobre-principal-texto h3 {
    font-size: 35px;
    line-height: 30px;
    font-weight: 100;
}


.wrapper-sobre-principal-texto span {
    color: #f57506;
    font-size: 60px;

}

.wrapper-sobre-principal-texto p {
    color: #07192F;
    font-size: 50px;

}

.wrapper-sobre-principal-foto img {
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px #000D1A;
    border-top-left-radius: 2.9rem;
    border-bottom-right-radius: 2.9rem;

}

.wrapper-sobre-principal-foto img:hover {
    box-shadow: 0px 0px 100px 0px #000D1A;

}

.wrapper-sobre-secundario h2 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 4%;
}

.wrapper-sobre-secundario p {
    text-align: center;
    color: #07192F;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.wrapper-sobre-secundario span {
    color: #e7720c;
}

/* Seção de habilidades */
#habilidades {
    background-color: #091A2E;
    text-align: center;
    padding-top: 100px;
    min-height: 650px;

}

.wrapper-habilidades-background h1 {
    font-size: 60px;

}

.wrapper-habilidade-conteudo-texto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}

.descricao {
    display: block;
    text-align: left;
}

.descricao h2 {
    font-size: 45px
}

.descricao p {
    color: white;
    font-size: 35px;
}

.wrapper-habilidades-conteudo {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
    padding-top: 45px;
}

.box {
    height: 170px;
    width: 150px;
}


.box :hover {
    width: 135px;
    cursor: pointer;
}

/* Seção de projetos */
#projetos {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 100px;
}

#projetos video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#projetos h1 {
    text-align: center;
    z-index: 1;
    position: relative;
}

.wrapper-projetos {
    height: 100%;
    z-index: 1;
    position: relative;
}

.wrapper-projetos-banners {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 90px;
    row-gap: 70px;
    padding-bottom: 50px;

}

.article-box {
    max-width: 520px;
    padding: 35px 10px;
    background-color: #000d1acb;
    border-radius: 50px;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.article-box:hover {
    transform: scale(1.1);
}

.article-box p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;

}

.article-box a {
    color: #f57506;
    font-weight: 200;
}

.first-article-box {
    border: 6px solid #f57506;
    box-shadow: 0px 20px 50px #000D1A;
}

.second-article-box {
    border: 6px solid #f57506;
    box-shadow: 0px 20px 50px #000D1A;
}

.third-article-box {
    border: 6px solid #f57506;
    box-shadow: 0px 20px 50px #000D1A;
}

.forth-article-box {
    border: 6px solid #f57506;
    box-shadow: 0px 20px 50px #000D1A;
}

.wrapper-projetos span a:hover {
    color: #f57506;
}

/* Seção de contato */
#contato {
    padding-top: 100px;
    background-color: #091A2E;
}


.wrapper-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;

}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px 20px 150px 20px;


}

.icon:hover {
    transform: scale(1.1);
}

.icon span {
    color: white;
    text-align: center;
    font-size: 25px;
}


.icon p {
    font-size: 20px;
    color: gray;
    text-align: center;
}

.icon img {
    width: 40px;

}


/* Seção de footer */

footer {
    color: white;
    display: flex;
    justify-content: center;
    height: 95px;
    background-color: hsl(210, 100%, 6%);
    align-items: center;
    padding: 0px 25px 10px;
    font-size: 30px;

}

footer h4 {
    font-weight: 400;
    text-align: center;
}

/* Responsividade */

@media screen and (min-width: 300px) and (max-width: 600px) {
    .container-header {

        display: flex;
        flex-direction: column;
        position: static;
    }


    .container-header {
        position: fixed;
    }


    .menu-desktop {
        display: none;
    }

    .wrapper-tela-inicial {
        height: 100%;
        position: relative;
        top: 150px;

    }

    body .background {
        max-height: 100vh;
        padding-bottom: 50px;
        min-height: 700px;

    }

    header {
        display: flex;
        justify-content: center;
        position: static;
        align-items: center;
        padding: 60px 0px;
    }

    .rolagem-header {
        padding: 40px 0px 30px;

    }

    header .logo h2 {

        text-align: center;
    }

    header .logo h2 p {
        padding-left: 0px;
        text-align: center;
    }

    header .logo h2 :hover {
        font-size: 70px;
        color: #e78229;
        cursor: pointer;
    }


    .btn-contato {
        display: none;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header nav ul li a {
        color: white;
        text-decoration: none;
        padding-right: 20px;
    }

    .icon {
        padding: 50px 6px 40px;
    }

    .icon p {
        display: none;
    }

    .wrapper-sobre-principal {

        display: flex;
        flex-direction: column;
        gap: 3%;
        align-items: center;

    }


    .wrapper-tela-inicial h1 {


        font-size: 38px;
        text-align: center;
        max-width: 880px;
    }

    .wrapper-tela-inicial p {


        font-size: 30px;
        text-align: center;
        max-width: 880px;
    }


    .wrapper-tela-inicial p {
        text-align: center;
    }

    .simbolo {
        display: none;
    }

    .wrapper-btn-inicial {
        justify-content: center;
    }

    .descricao {
        display: none;
    }

    .cards {
        justify-content: center;
        max-width: 100%;
    }

    .article-box:hover {
        transform: none;
    }

    .wrapper-habilidades-conteudo {

        padding-top: 15px;
    }

    #habilidades {

        min-height: 100%;
        justify-content: center;
        padding-top: 10px;
    }

    .wrapper-contato {
        gap: 0px;
    }

    #contato {
        padding-top: 10px;
    }

    #projetos {
        padding-top: 10px;
    }

    #sobre {
        padding-top: 10px;
    }

    .txt-animado span::before {
        content: " TECNOLOGIA";
        color: WHITE;
        text-align: center;

    }

    .txt-animado span::after {
        display: none;
    }

    p {
        color: white;
    }

    .button footer {
        font-size: 20px;
    }

    .btn-Download-CV button {
        font-size: 30px;
    }

}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container-header {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: static;
    }


    .menu-desktop {
        display: none;
    }

    .wrapper-tela-inicial {
        height: 100%;
        position: relative;
        top: 150px;
        color: #D98F4E;
        padding-top: 100px;
    }

    .wrapper-tela-inicial h1 {
        color: #D98F4E;
    }

    body .background {
        height: 800px;
        padding-bottom: 50px;
    }

    #header {
        transition: 0.3s;
    }

    header {
        position: static;
        padding: 10px 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    header .logo h2 {
        text-align: center;
    }

    header .logo h2 p {
        padding-left: 0px;
        text-align: center;
    }

    header .logo h2 :hover {
        font-size: 70px;
        color: #e78229;
        cursor: pointer;
    }


    .btn-contato {
        display: none;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header nav ul li a {
        color: white;
        text-decoration: none;
        padding-right: 20px;
    }

    .icon {
        padding: 50px 6px 40px;
    }

    .icon p {
        display: none;
    }

    .wrapper-sobre-principal {

        display: flex;
        flex-direction: column;
        gap: 3%;
        align-items: center;
        text-align: center;

    }


    .wrapper-tela-inicial h1 {
        font-size: 40px;
        text-align: center;
        max-width: 880px;
    }

    .wrapper-tela-inicial p {
        text-align: center;
    }

    .simbolo {
        display: none;
    }

    .wrapper-btn-inicial {
        justify-content: center;
    }

    .descricao {
        display: none;
    }

    .cards {
        justify-content: center;
        max-width: 100%;
    }

    .article-box:hover {
        transform: none;
    }

    .wrapper-habilidades-conteudo {
        padding-top: 15px;
    }

    #habilidades {
        min-height: 100%;
        justify-content: center;
    }

    .wrapper-contato {
        gap: 0px;
    }

    .rolagem-header {
        padding: 0px 0px 5px;
        height: 100px;
    }

    .txt-animado span::before {
        content: " TECNOLOGIA INOVADORA";
        color: WHITE;

    }

    .txt-animado span::after {
        display: none;
    }

    p {
        color: white;
    }

    footer {
        font-size: 20px;
    }






}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .container-header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 200px;
    }

    header {
        padding: 0px
    }

    .wrapper-tela-inicial {
        top: 200px;
    }

    body .background {
        height: 800px;
        padding-bottom: 50px;
    }

    .rolagem-header {
        padding: 5px 0px;
        gap: 0px;
    }

    .btn-contato {
        display: none;
    }

    header .logo h2 p {
        font-size: 60px;
    }

    header .logo h2 {
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 75px 20px;
    }

    body .background {
        padding-bottom: 50px;
    }

    .rolagem-header {
        padding: 0px;
    }



    @keyframes palavras {

        0%,
        20% {
            content: "TECNOLOGIA INOVADORA";
        }

        21%,
        40% {
            content: "DESENVOLVIMENTO ÁGIL";
        }

        41%,
        60% {
            content: "EXPERIÊNCIAS INTERATIVAS";
        }

        61%,
        80% {
            content: "INTERFACE USUÁRIO";
        }

        81%,
        100% {
            content: "SOLUÇÕES PERSONALIZADAS";
        }
    }

    /* @keyframes cursor {
    0% {
        border-left: 8px solid #000d1a26;
    }
} */

    @keyframes digita {

        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95% {
            width: 0;
        }

        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85% {
            width: calc(100% + 25px);
        }
    }